h1 {
    font-size: 50pt;
    font-family: Verdana;
  }
  .topnav {
    background-color: black;
    overflow: hidden;
  }
  .topnav a {
    float: left;
    color: Pink;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
  }
  .topnav a:hover {
    background-color: white;
    color: black;
  }
  .topnav a.active {
    background-color: #00BFFF;
    color: white;
    }
  .class1 {
    text-align: center
  }
  body
  {
    text-align:center;
    background-color:#F3CBC9;
      font-size:10pt;
  }
  #Bild {
    margin-left: 150px;
  }
  #Text {
    margin-right: 120px;
    margin-left: 120px;
  }
  #text{
    font-size: 20px;
  }
  